<section class="page__login_signup">
  <div>
    <%#---Left--- %>
    <div style="background-image: url(/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg);">
      <div>
        <header>
          <h2>Vigor</h2>
        </header>
        <p>Cùng thưởng thức giai điệu tuyệt vời</p>
        <ul>
          <li>Trang chủ</li>
          <li>Liên hệ</li>
        </ul>
      </div>
    </div>

    <%#---Right--- %>
    <div>
      <header>
        <h3>Cùng nhau nghe những bài hát cực hay</h3>
      </header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia sed nemo perspiciatis cum accusantium vitae, numquam accusamus aliquam, sequi, quos totam. </p>
      <form action="">
        <input type="email" name="" id="" placeholder="Email">
        <input type="text" name="" id="" placeholder="Tên người dùng">
        <input type="password" name="" id="" placeholder="Mật khẩu">
        <button type="submit">Đăng Ký</button>
      </form>
      <p style="margin:auto">Bạn đã có tài khoản ? <span><a href="/login">Đăng nhập ngay</a></span></p>
    </div>
  </div>
</section>