$color-primary: rgba(255, 159, 103, 1);
$main-bg-color: #fcf9f7;
$sub-bg-color: #ffa985;
$text-color: #32323d;
$text-hover-color: #ffc6ad;
$input-bg-color: rgb(240, 240, 240);
$inputHeight: 24px;

body{
  background: rgb(236,143,64);
  // background: linear-gradient(90deg, rgba(236,143,64,1) 0%, rgba(224,128,227,1) 100%);
  background: url(/images/logo.jpg) no-repeat, linear-gradient(90deg, rgba(236,143,64,1) 0%, rgba(224,128,227,1) 100%);
  background-size: cover;
}
a {
  color: #000;
  text-decoration: none;
}
@mixin button {
  padding: 10px 15px;
  border-radius: 8px;
}
.d-flex {
  display: flex;
}
.fs__text--smallest {
  font-size: 12px;
}
.fs__text--small {
  font-size: 14px;
}
.fs__body__text--1 {
  font-size: 16px;
}
.fs__body__text--2 {
  font-size: 18px;
}
.fs__subtitle {
  font-size: 18px;
}
.fs__title--1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.fs__title--2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 28px;
}
.fs__main__title--1 {
  font-weight: bold;
  font-size: 32px;
}
.fs__main__title--2 {
  font-weight: bold;
  font-size: 38px;
}
.fs__main__title--3 {
  font-weight: bold;
  font-size: 42px;
}
.header_Nav{
  background:rgba(255, 255, 255, 0.5 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
  margin-bottom: 30px;
  margin: auto;
  padding: 0 5%;
  // padding-bottom: 30px;
}
.home__header {
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 30px;
  &__link {
    a {
      font-weight: bold;
      margin: 0 10px;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &__button {
    font-weight: bold;
    a:nth-child(1) {
      @include button;
      background-color: $color-primary;
      color: white;
      margin-right: 5px;
      box-shadow:  -3px -3px 3px rgba(255, 255, 255, 0.9), 3px 3px 3px rgba(0, 0, 0, 0.9);
    }
    a:nth-child(2) {
      @include button;
      color: #000;
      box-shadow:  -3px -3px 3px rgba(255, 255, 255, 0.9), 3px 3px 3px rgba(0, 0, 0, 0.9);

    }
  }
  &__logo {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-shadow:  -3px -3px 3px rgba(255, 255, 255, 1), 3px 3px 3px rgba(0, 0, 0, 1);
    color: $color-primary;
  }
}