// Place all the styles related to the v1/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "../application.scss";
$color-primary: rgba(255, 159, 103, 1);
$main-bg-color: #fcf9f7;
$sub-bg-color: #ffa985;
$text-color: #32323d;
$text-hover-color: #ffc6ad;
$input-bg-color: rgb(240, 240, 240);
$inputHeight: 24px;
@mixin resizeEffect() {
  @if $inputHeight>24px {
    background-color: none;
  }
}
.container {
  background-color: $main-bg-color;
  width: 100% !important;
//   height: 100vh !important;
  padding: 0 5%;
}
.home__header {
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__link {
    a {
      font-weight: bold;
      margin: 0 10px;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &__button {
    font-weight: bold;
    a:nth-child(1) {
      @include button;
      background-color: $color-primary;
      color: white;
      margin-right: 5px;
    }
    a:nth-child(2) {
      @include button;
      color: #000;
      box-shadow: 0 0 0 2px $color-primary inset;
    }
  }
  &__logo {
    font-size: 42px;
    font-weight: bold;
    color: $color-primary;
  }
}
.home__main {
  $height: 700px;
  $margin: 30px;
  .MainPage__header {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: #ffe5da -15px 12px 15px 3px;
    padding: 15px 20px;
    border-radius: 15px;
    max-width: 70%;
    margin: auto;
    &-avatarNOption {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      a {
        text-decoration: none;
        .MainPage__header-avatarNUserame {
          display: flex;
          align-items: center;
          .MuiAvatar-img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
          &-username {
            margin-left: 10px;
            color: $text-color;
          }
        }
      }
      .MainPage__header-option {
        display: flex;
        align-items: center;
        .MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault {
          // margin-right: 10px;
        }

        .MuiButton-root {
          min-width: 40px;
        }
        .MuiButtonBase-root.MuiButton-root.MuiButton-text.MainPage__header-option-setting {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: #bdbdbd;
          border: none;
          padding: 8px;
          &:focus{
            outline: none;
        }
        }
        .MuiButtonBase-root.MuiButton-root.MuiButton-text.MainPage__header-option-darkMode {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: #bdbdbd;
          border: none;
          padding: 8px;
          margin-left: 5px;
          &:focus{
            outline: none;
        }
        }
      }
    }
    &-input {
      display: flex;
      flex-direction: column;
      img{
        border-radius: 20px;
        transition: all .5s ease-in-out;
        &:hover {
            width: 78.54% !important;
            transform: translateX(13.73%);
        }
    }
    video{
        @extend img;
        &:focus{
            outline: none;
        }
    }
    audio{
        &:focus{
            outline: none;
        }
    }
      .statusInput {
        border: none;
        border-radius: 50px;
        padding: 8px 15px;
        outline: none;
        width: 100%;
        margin-bottom: 10px;
        background-color: $input-bg-color;
        resize: none;
        overflow: hidden;
        @include resizeEffect();
       
      }
      Button {
        background-color: $sub-bg-color;
        border-radius: 50px;
        color: white;
        font-weight: 600;
        box-shadow: none;
        outline: none;
        position: absolute;
        top: 141px;
        // top: calc(141px + (141px + 503px));
        right: 130.5px;
        &:hover {
          background-color: $text-hover-color;
          box-shadow: none;
        }
      }
      input[type="file"] {
        display: none;
      }
    }
  }
  &-uploadOptionBody {
    margin-top: 5px;
    margin-bottom: 15px;
    &-imageDiv {
      .MainPage__header-uploadOptionBody-imageBody {
        width: 100%;
        height: 500px;
        border-radius: 15px;
      }
      .MuiAvatar-root.MuiAvatar-circle.removePostIcon.MuiAvatar-colorDefault {
        position: absolute;
        top: 145px;
        right: 80px;
        background-color: white;
        cursor: pointer;
      }
    }
    &-videoDiv {
      .MainPage__header-uploadOptionBody-videoBody {
        // @extend .MainPage__header-uploadOptionBody-imageBody;
        width: 100%;
        height: 500px;
        border-radius: 15px;
        outline: none;
        margin-top: 20px;
      }
      .MuiAvatar-root.MuiAvatar-circle.removePostIcon.MuiAvatar-colorDefault {
        // @extend .MuiAvatar-root.MuiAvatar-circle.removePostIcon.MuiAvatar-colorDefault;
        position: absolute;
        top: 665px;
        right: 80px;
        background-color: white;
        cursor: pointer;
      }
    }
    &-soundDiv {
      .MainPage__header-uploadOptionBody-soundBody {
      }
      .MuiAvatar-root.MuiAvatar-circle.removePostIcon.MuiAvatar-colorDefault {
        position: absolute;
        top: 120px;
        right: 750px;
        background-color: white;
        cursor: pointer;
      }
    }
  }
  .MainPage__header-uploadOption {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
    .MainPage__header-uploadOption-option {
      display: flex;
      input[type="file"] {
        display: none;
      }
      .MainPage__header-soundUpload {
        margin-right: 15px;
        .MainPage__soundUpload--upload {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .MainPage__header-videoUpload {
        margin-right: 15px;
        .MainPage__videoUpload--upload {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .MainPage__header-imageUpload {
        .MainPage__imageUpload--upload {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .MainPage__header-uploadOption-upload {
      .postBtn {
        color: white;
        border-radius: 50px;
        font-weight: 600;
        padding: 6px 16px;
        border: none;
        background-color: gray;
        cursor: not-allowed;
        box-shadow: none;
        // &:hover {
        //     background-color: $sub-bg-color;
        //     box-shadow: none;
        // }
      }
    }
  }
  .MainPage__feeds {
    max-width: 70%;
    margin: auto;
    margin-top: 80px;
    .MainPage__feedTitle {
      h3 {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }
    .masonry-grid {
      display: flex;
      width: auto;
      &_column {
        background-clip: padding-box;
        .MainPage__feed {
          padding: 20px;
          background-color: white;
          border-radius: 15px;
          box-shadow: #ffe5da -15px 12px 15px 3px;
          margin-bottom: 20px;
          &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            align-items: center;
            &AvatarNInfo {
              display: flex;
              align-items: center;
              .MainPage__feed-headerAvatar {
                .MuiAvatar-img {
                  width: 40px;
                  height: 40px;
                  border-radius: 100%;
                  -o-object-fit: cover;
                  object-fit: cover;
                }
              }
              .MainPage__feed-headerInfo {
                margin-left: 10px;
                &-username {
                  margin: 0;
                  font-size: 14px;
                }
                &-createAt {
                  margin: 0;
                  font-size: 12px;
                  cursor: pointer;
                }
                &-detail {
                  position: absolute;
                  z-index: 50;
                  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                  padding: 8px 12px;
                  border-radius: 50px;
                  background-color: white;
                }
              }
            }
          }
          &-body {
            // border-bottom: 1px solid #bdbdbd;
            // padding-bottom: 15px;
            .MainPage__feed-bodyTitle {
              margin-bottom: 5px;
                p {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom:15px;
                    white-space: pre-line;
                }
            }
            .MainPage__feed-bodyContent {
              margin-bottom: 15px;
              img{
                width: 100%;
                border-radius: 20px;
              }
            audio{
              width: 100%;
              
                  &:focus{
                      outline: none;
                  }
            }
            video{
              @extend img;
            }
            }
            .MainPage__feed-bodyReaction {
              // border-top: 1px solid #BDBDBD;
              // border-bottom: 1px solid #BDBDBD;
              border-radius: 12px;
              border: 1px solid #bdbdbd;
              padding: 10px;
              display: flex;
              margin-bottom: 15px;
              &-like {
                margin-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                &--like {
                  color: $sub-bg-color;
                  margin-right: 5px;
                  width: 24px;
                  cursor: pointer;
                }
                &-likeNumber {
                  cursor: default;
                }
                &--unlike {
                  margin-right: 5px;
                  cursor: pointer;
                }
                &-unlikeNumber {
                  cursor: default;
                }
              }
              &-cmt {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                  width: 24px;
                  margin-right: 5px;
                }
              }
            }
            .MainPage__feed-bodyComment {
              &-commenters {
                display: flex;
                align-items: center;
                // margin-bottom: 10px;
                // .MainPage__feed-bodyComment-avatar {
                //   .MuiAvatar-img {
                //     width: 32px;
                //     height: 32px;
                //     margin-right: 18px;
                //     border-radius: 100%;
                //     -o-object-fit: cover;
                //     object-fit: cover;
                //   }
                // }
                .MainPage__feed-bodyComment-text {
                  font-size: 14px;
                  margin-bottom: 5px;
                  .MainPage__feed-bodyComment-username {
                    margin-right: 5px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          &-comment {
            margin-top: 16px;
            .MainPage__feed-commentForm {
              display: flex;
              .MainPage__feed-commentInput {
                flex: 1;
                outline: none;
                border: none;
                border-radius: 50px;
                padding: 8px 15px;
                outline: none;
                width: 100%;
                background-color: $input-bg-color;
              }
              .MainPage__feed-commentPostBtn {
                flex: 0;
                outline: none;
                border: none;
                border-radius: 0 50px 50px 0;
                padding-right: 16px;
                color: $sub-bg-color;
                font-weight: 600;
              }
            }
          }
          .MainPage__likeModal {
            // .modal-content {
            &-modalBody {
              // display: flex;
              .MainPage__likeModal-liker {
                display: flex;
                flex: 1;
                align-items: center;
                &Avatar {
                  margin-right: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
