<section class="page__login_signup">
  <div>
    <%#---Left--- %>
    <div style="background-image: url(/images/james-stamler-k3heD_KwH0A-unsplash.jpg);">
      <div>
        <header>
          <h2>Vigor</h2>
        </header>
        <p>Hãy cùng nhau bước vào thế giới âm nhạc</p>
        <ul>
          <li>Trang chủ</li>
          <li>Liên hệ</li>
        </ul>
      </div>
    </div>

    <%#---Right--- %>
    <div>
      <header>
        <h3>Tham gia cùng 10 triệu người dùng để cùng nhau tận hưởng những bài hát hay</h2>
      </header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia sed nemo perspiciatis cum accusantium vitae, numquam accusamus aliquam, sequi, quos totam. Dolores exercitationem vero, veniam officiis qui quia cum.</p>
      <form action="">
        <input type="email" name="" id="" placeholder="Email">
        <input type="password" name="" id="" placeholder="Mật khẩu">
        <button type="submit">Đăng nhập</button>
      </form>
      <p style="margin:auto">Bạn chưa có tài khoản? <span><a href="/signup">Đăng ký ngay</a></span></p>
    </div>
  </div>
</section>
