  <section class="header_Nav">
    <header class="home__header">
      <div class="home__header__logo">
        <%= link_to 'VIGOR', '/v1/home', class: 'home__header__logo'%>
      </div>
      <nav class="home__header__link">
        <a href="">Trang Chủ</a>
        <a href="">Cộng đồng</a>
        <a href="">LIVE</a>
        <a href="">FAQs</a>
        <div class="search"></div>
      </nav>
      <nav class="home__header__button">
      <% if !@user.nil? %>
        <a href="/v1/profile"><%= @user_session[0].username %></a>
        <a id="home__header__button--logout">Đăng xuất</a>
      <% else %>
        <a href="/v1/login">Đăng nhập</a>
        <a href="/v1/signup">Đăng ký</a>
      </nav>
      <% end %>
    </header>
  </section>